
:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 20px; 
  }
  
  canvas {
    max-width: 100%;
    height: auto; 
    border: 1px solid #ccc; 
  }
  
  .switch {
    display: block;
    margin-top: 10px;
  }
  
  span {
    margin-left: 8px;
  }
  
  h1 {
    max-width: 100%;
    word-wrap: break-word; 
  }

  .scene-container {
    position: relative;
    width: 1024px;
    height: 576px; 
    margin: auto; 
    
  }
  

.info-text-box {
  position: absolute;
  display: none; 
  top: 20px; 
  right: 20px; 
  background-color: white;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  z-index: 10;
  max-width: 200px; 
  max-height: calc(100% - 40px); 
  overflow-y: auto; 
  box-sizing: border-box
}
  canvas {
    user-select: none;
    -webkit-tap-highlight-color: transparent;
  }
  
  .close-button {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 20px;
    padding: 5px; 
  }
  

  .content-box {
    margin-top: 30px;
    word-wrap: break-word; 
  } 

  .info-text-box::-webkit-scrollbar {
    width: 5px;
  }
  
  .info-text-box::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 5px;
  }
  
  .info-text-box::-webkit-scrollbar-track {
    background-color: white;
  }
  
  .scene-container {
    position: relative;
    width: 1024px;
    height: 576px;
    margin: auto;
  }
  
  canvas {
    user-select: none;
    -webkit-tap-highlight-color: transparent;
  }
  
  .scene-container {
    padding-bottom: 20px; /* Adjust this value as needed */
  }

  .year-selector {
    display: flex;
    align-items: center;
    margin: 10px;
  }
  
  .year-selector input[type=range] {
    margin-right: 10px;
  }

  .loading-screen {
    display: none; 
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
  }
  
  .loading-content {
    text-align: center;
    color: white;
    font-size: 20px;
  }
  
  