<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to Atlas Voyager</title>
  <!-- Bootstrap CSS CDN -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">
  <div class="container vh-100 d-flex flex-column align-items-center justify-content-center">
    <img src="./assets/Atlas-Voyager-logo.png" alt="Atlas Voyager" class="img-fluid my-3" style="max-width: 30%;">
    <h1 class="mb-3 text-center">Welcome to Atlas Voyager</h1>
    <button class="btn btn-primary mb-2" (click)="NavigateToExplorePage()">Explore</button>
    <button class="btn btn-primary mb-2">About</button>
  </div>
</body>
</html>
